* {
    padding: 0px;
    margin: 0px;
}

body {
    /* background-image: url(images/farming.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    object-fit: cover; */
}

#nav-bar {
    background-color: rgb(130, 130, 202);
    margin: 0px, ;
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

li {
    display: inline;
    list-style: none;
    margin-left: 10px;
}

a {
    color: white;
}

#dropdown {
    position: relative;
    display: inline-block;
    /* width: 100% !important; */
}

#dropdown-content {
    display: none;
    position: absolute;
    /* width: 100%; */
    z-index: 1;
    background-color: white;
}

#dropdown:hover .dropdown-content {
    display: inline-block;
}

#cover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh
        /* "width: 100%; margin-bottom: 10%; opacity: 0.7; */

}

#cover .text {
    background-color: rgba(255, 255, 255, 0.158);
    position: absolute;
    z-index: 1;
    border-radius: 15px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 70%;
    /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 60%;
    /* Set the width of the positioned div */

}

#cover .text:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 70%;
    font-size: 1.2sem;
}

.box {
    /* object-fit: cover; */
    cursor: pointer;
    width: 265px;
    height: 159px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid rgb(148, 143, 143);
    /* margin: 10px; */
}

.img-wrap{
    position:relative;
}

.footnote {
    /* visibility: hidden; */
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 90%;
    text-align: center;
    margin: 0px auto;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(245, 245, 220, 0.219);
}

.img-wrap:hover .footnote {
    opacity: 1;
}



/* .footnote :hover {
    visibility: visible;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    bottom: 35%;
    width: fit-content;
    width: auto;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.13);
    color: black;
} */


.container {
    display: grid;
    /* gap: 10px; */
    margin-top: 40%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
}

.one {
    grid-column-start: 1;
    grid-column-end: 4;
    /* justify-self: stretch; */
}

img.box {
    margin-left: auto;
    margin-right: auto;
    display: block;
}